# Keycloak (produccion)
VITE_KEYCLOAK_URL=https://auth.sitfai.gov.co
VITE_KEYCLOAK_REALM=sitfai
VITE_KEYCLOAK_CLIENT_ID=sitfai-front

# API
VITE_API_URL=https://api.sitfai.gov.co
VITE_WORL_WITH_LOCAL_SERVER=false

# Dev tools
VITE_ENABLE_DEVTOOLS=false
